*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-08-20-first-notebook.md
_posts/2022-08-23-Python-Quiz.md
_posts/2022-08-26-bash-checks.md
_posts/2022-08-29-TP120-python_lists.md
_posts/2022-08-30-Lecture-Notes.md
_posts/2022-09-14-APEC-Chapter-29-Assignment-#1.md
_posts/2022-09-21-APEC-Chapter-29-Assignment-#1.md
_posts/2022-09-25-javascript-usage.md
_posts/2022-09-25-js-usage.md
_posts/2022-10-03-PBL-python_rapidapi-copy.md
_posts/2022-10-03-AP-error_testing.md
_posts/2022-10-05-api-usage.md
_posts/2022-10-20-project-video.md
_posts/2022-11-28-3.1-3.2-hacks.md
_posts/2022-08-29-TP120-python_lists.md
_posts/2022-11-29-3.3-3.4-hacks.md
_posts/2022-12-01-3.5-3.7-hacks.md