*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_notebooks/2022-08-20-first-notebook.ipynb
_notebooks/2022-08-23-Python-Quiz.ipynb
_notebooks/2022-08-26-bash-checks.ipynb
_notebooks/2022-08-29-TP120-python_lists.ipynb
_notebooks/2022-08-30-Lecture-Notes.ipynb

_word/APEC Chapter 29 Assignment #1.docx