<table>
    <tr>
        <td><a href="{{site.baseurl}}/frontend/javascript">JavaScript Usage</a></td>
        <td><a href="{{site.baseurl}}/frontend/table">Table Using JavaScript and HTML Fragments</a></td>
    </tr>
</table>
<table>
    <tr>
        <td><a href="{{site.baseurl}}/frontend/binary">Binary</a></td>
        <td><a href="{{site.baseurl}}/frontend/rgb">RGB</a></td>
    </tr>
</table>

<h1>Unit 3</h1>
<table>
    <tr>
        <td><a href="{{site.baseurl}}/unit3/sections1-2notes">3.1-3.2 Notes</a></td>
        <td><a href="{{site.baseurl}}/unit3/sections1-2hacks">3.1-3.2 Hacks</a></td>
    </tr>
    <tr>
        <td><a href="{{site.baseurl}}/unit3/sections3-4notes">3.1-3.2 Notes</a></td>
        <td><a href="{{site.baseurl}}/unit3/sections3-4hacks">3.3-3.4 Hacks</a></td>
    </tr>
</table>